* {
    color: whitesmoke;
}
.logo {
    margin-left: 180px;
}
nav {
    margin-inline-end: 150px;
    display: inline-flex;
    padding: 10px;
}
nav a {
    text-decoration: none;
    color: rgb(233, 227, 227);
    font-size: 18px;
    padding: 15px 15px;
    border-radius: 25px;
}
nav a:hover {
    background-color: #527dfd9f;
}
.login:hover {
    background-color: #e8646c;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 0 0 20px 20px;
    margin-top: 0px;
}
body {
    max-width: 100%;
}
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-text {
    color: rgba(245, 245, 245, 0.671);
    font-size: 24px;
    /* margin: 2px; */
    margin-left: 200px;
}
.banner-image {
    width: 22%;
    display: flex;
    border-radius: 0px 45px 0px 45px;
    margin-right: 200px;
    box-shadow: 5px 4px 8px 4px rgba(233, 231, 231, 0.322);
}
.banner-image:hover {
    transform: scale(1.09);
    transition: transform 0.5s ease;
}

li {
    display: inline-block;
    list-style-type: none;
    margin: 0 10px;
    padding: 0;
}

body {
    background-color: #0b0c17;
    background-size: cover;
    background-repeat: no-repeat;    
}
h1 {
    color: white
}
.about {
    border: 2px solid #527dfd9f;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    max-width: 80%;
}
.all-products {
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.product1, .product2, .product3, .product4 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
}
#apex-image, #figher-image, #ryse-image, #mario-image {
    display: block;
    width: 35em;
    height: auto;
    border: 1px solid #527dfd9f;
    box-shadow: 5px 4px 8px 4px rgba(233, 231, 231, 0.322);
    transition: transform 0.5s ease;
    border-radius: 0px 45px 0px 45px;
}
#apex-image:hover, #ryse-image:hover, #mario-image:hover, #figher-image:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
}
.buttons {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
#product-counter {
    color: whitesmoke; 
    background-color: #527dfd9f;
    text-align: center;
    width: 5em;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;

}
#cart {
    color: whitesmoke; 
    background-color: #e8646c;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
}
#cart:hover {
    background-color: #527dfdf5;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 50px;
    right: 0;
}
