nav {
    display: inline-block;
    background-color: #0981f1;
    padding: 10px;
}
body {
    background-image: url('../images/banner-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;    
}
h1 {
    color: white
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 8px;
}